<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      throwExceptions="false">
  <targets async="true">
    <target name="file" xsi:type="File"
           layout="${date:format=HH\:mm\:ss.fff}|${level:uppercase=true}|${callsite}|${message}"
           fileName="C:\PayactivData\Logs\SDK\WorkDayRESTSDK\${shortdate}.txt" />
  </targets>
  <rules>
    <logger name="*" minLevel="Debug" writeTo="file" />
  </rules>
</nlog>